<div class="dashboard">
    <div class="row">
        <div class="col-md-6">
            <h3>Dashboard</h3>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2">
            <h5>Home < Dashboard</h5> </div> </div> </div> <div class="dashboard-style">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="student">
                                <h2 class="student1"><b>STUDENTS</b> </h2>
                                <p class=" student2"><b> 8<sup> +</sup></b> </p>

                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="teacher">
                                <h2 class="teacher1"><b>TEACHERS</b> </h2>
                                <p class=" teacher2"><b> 7<sup> +</sup></b> </p>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="parent">
                                <h2 class="parent1"><b>PARENTS</b> </h2>
                                <p class=" parent2"><b> 3<sup> +</sup></b> </p>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="class">
                                <h2 class="class1"><b>CLASESS</b> </h2>
                                <p class=" class2"><b> 19<sup> +</sup></b> </p>

                            </div>
                        </div>

                    </div>

        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr>

                   
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>

                  
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>

                    
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                <tr>

                   
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
    
                      
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
    
                        
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>

                   
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
        
                          
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
        
                            
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>

                   
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
            
                              
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
            
                                
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>

                   
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                
                                  
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                
                                    
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>

                   
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                    
                                      
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                    
                                        
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr> <tr>

                   
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                        
                                          
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        
            </tbody>
        </table>